html { overflow-y: scroll ;}
body{background-color:##FEFDF9;}

/*font styles*/
h4{font-size: 18px;}
h6{text-align:justify;}
h7{font-size: 14px;}

/*sidebar*/
.sidebar{
  background-color:#F4F3F2;
}
.sb_col{
  margin:5%;
}
  /*details*/
.details{
  min-height: 180px;
  border-radius: 0.25rem;
  padding:5%;
  background-color:#D8CAC2;
  position:relative;
}

button {
  margin:1%;
}
.btn-light{
  background-color:#FEFEFE;
  border: 2px solid #B9AAA0;
}

/*graph */
.graph{
  margin:10% auto;
}
.box{
  min-height: 400px;
  border: 2px solid black;
  position: relative;
}

  /*animal images*/
.images{
  position:relative;
}
.images-single{
  position:relative;
}

  /*human reference*/
.reference{
  margin-left: 5%;
  bottom:10%;
  position:relative;
}
#human{
  width:1.2vw;
  height:auto;
}
  /*measurement*/
.graph .measurement{
  margin-left: 5%;
  margin-bottom: 1%;
  position:relative;
}
.graph .unit{
  left:10%;
  bottom: 3%;
  text-align:right;
  position:absolute;
}
.graph .base{
  height:20px;
  height: 2vh;
  width: 95%;
  border-bottom:2px solid black;
  border-left:2px solid black;
  border-right:2px solid black;
  position:relative;
}
.graph .vLine{
  height: 20px;
  height: 2vh;
  left:25%;
  border-left: 2px solid black;
  position:absolute;
}
.graph .vLine:nth-of-type(1){
  left:50%;
}
.graph .vLine:nth-of-type(2){
  left:75%;
}
